[core]
	editor = vim
[color]
	ui = auto
[user]
	name = Alexander Savchenko
	email = oleksandr.savchenko@celeno.com
[sendemail]
 from = "Alexander Savchenko <oleksandr.savchenko@celeno.com>"
 thread = true
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lgr = log --color --reverse --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
